/* General styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-background: #90c2e7;
    --nav-background: #2a4b64;
    --page-background: #e3edf4;
    --top-banner: #9bd1cc;
    --card-border: #3b6b78;
    --card-background: #fff;
    --footer-background: #ccc;
    --user-buttons: #3885c6;
    --registration-button: #ED8B41;
    --shadow: #000;
    --button-shadow: #4e8ed8;
}

html {
    background-color: var(--page-background);
}

header {
    background-color: var(--header-background);
    font-size: large;
    font-weight: bold;
    width: 100%;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

nav {
    background-color: var(--nav-background);
    text-align: center;
    width: 100%;
    height: 35px;
    line-height: 35px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 5px 20px;
}

#section-heading {
    width: 80%;
    height: 65px;
    border-radius: 10px;
    background-color: var(--top-banner);
    margin: 15px auto;
    line-height: 65px;
}

main > section {
    border-radius: 8px;
    margin: 40px auto; 
    width: 70%;
    text-align: center;
    background-color: var(--card-background);
    box-shadow: 0px 3px 10px var(--shadow);
    overflow: hidden;
}

footer {
    background-color: var(--footer-background);
    width: 100%;
    height: 50px;
    line-height: 50px;
}

button {
    transition: 0.5s ease;
}

button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px var(--button-shadow);
}

/* index.html */

#welcome-note {
    width: 90%;
    height: 100px;
    border-radius: 10px;
    background-color: var(--top-banner);
    margin: 15px auto;
}

#collections {
    display: flex;
    justify-content: space-evenly;
}

#collections > article {
    border: 1px solid var(--card-border);
    border-radius: 8px;
    box-shadow: 0px 5px 10px var(--shadow);
    height: 160px;
    width: 150px;
    padding: 10px;
    margin: 15px 0;
}

#collections > article > p {
    font-size: 19px;
    padding-top: 5px;
}

#navigation-buttons {
    border: 1px solid var(--card-border);
    border-radius: 8px;
    width: 80%;
    box-shadow: 0px 3px 7px var(--shadow);
    margin: 20px auto;
    padding: 10px;

}

#navigation-buttons > h3 + button {
    background-color: var(--registration-button);
    color: #fff;
    width: 35px;
    border-radius: 20px;
    width: 150px;
    height: 35px;
    border: none;
    margin-top: 10px;
    margin-right: 40px;
    cursor: pointer;
}

#navigation-buttons button + button {
    background-color: var(--user-buttons);
    color: #fff;
    border-radius: 20px;
    width: 150px;
    height: 35px;
    border: none;
    margin-top: 10px;
    margin-left: 40px;
    cursor: pointer;
}

/* quizzes.html */

#quizzes {
    width: 335px;
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 150px 150px;
    gap: 35px;
    margin: 30px auto;
}

#quizzes > article {
    width: 150px;
    height: 150px;
    border: 2px solid var(--card-border);
    border-radius: 8px;
    box-shadow: 0px 3px 7px var(--shadow);
    position: relative;
}

#quizzes > article > p {
    font-size: 17px;
}

#quizzes > article > button {
    width: 100px;
    height: 27px;
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: var(--user-buttons);
    cursor: pointer;
    line-height: 8px;
    position: absolute;
    top: 135px;
    left: 25px;
}

section > p:nth-child(3) {
    font-weight: bold;
    font-size: 25px;
    padding: 10px 0;
    margin-bottom: 5px;
}

/* tests.html */

#test-timetable {
    width: 50%;
    margin: 30px auto 40px;
    text-align: left;
}

#test-timetable > table {
    border-collapse: collapse;
    margin: 0 auto;
}

#test-timetable > table tr > td {
    padding: 15px 10px 5px;
    border-bottom: 1px solid #999; 
}

#test-timetable > table button {
    background-color: var(--user-buttons);
    color: #fff;
    border-radius: 20px;
    width: 90px;
    height: 23px;
    border: none;
    cursor: pointer;
}

/* registration.html */

#registration-form {
   width: 42%;
   padding: 25px;
   border: 2px solid var(--card-border);
   border-radius: 10px;
   margin: 10px auto;
   box-shadow: 0px 2px 7px var(--shadow);
}

#registration-form > label, #registration-form > input {
    display: block;
    text-align: left;
}

#registration-form > label {
    font-weight: bold;
    font-size: 17px;
}

#registration-form > input {
    width: 100%;
    height: 37px;
    padding: 20px;
    border: 2px solid #999;
    border-radius: 22px;
    margin: 10px 0;
}

#registration-form > button {
    width: 100%;
    height: 33px;
    padding: 10px;
    border: none;
    border-radius: 22px;
    margin: 5px 0;
    background-color: var(--registration-button);
    cursor: pointer;
}

section > p#login-link {
    font-weight:normal;
    font-size: 20px;
}

p#login-link > a {
    color: #0f6a84;
    text-decoration: none;
}

/* contact.html */

#contact-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 400px 50px;
}

#contact-section > #section-heading {
    grid-column: 1 / 3
}

#contact-form {
    width: 70%;
    text-align: left;
    margin: auto auto;
}

#contact-form h2 {
    margin-bottom: 10px;
}

#contact-form > label {
    font-weight: bold;
    display: block;
    font-size: 18px;
}

#contact-form > input {
    width: 100%;
    height: 37px;
    padding: 20px;
    border: 2px solid #999;
    border-radius: 22px;
    margin:1px 0 7px;
}

#contact-form textarea {
    width: 100%;
    height: 110px;
    resize: none;
    padding: 10px;
    border: 2px solid #999;
    border-radius: 12px;
    margin-top: 10px;
}

#contact-form button {
    width: 100%;
    height: 35px;
    padding: 10px;
    border: none;
    border-radius: 15px;
    margin-top: 10px;
    background-color: var(--user-buttons);
    cursor: pointer;
    line-height: 8px;
}

#contact-section > aside {
    text-align: left;
    margin: 27.5px auto 0;
}

address ul > li {
    list-style-type: none;
    display: flex;
    gap: 10px;
    margin: 15px 0;
}
address ul > li i {
    font-size: 22px;
    padding-top: 8px;
}

address ul > li a {
    color: #000;
}

#contact-section > footer {
    grid-column: 1 / 3;
    grid-row: 3;
}